{{- define "hlib.container.tpl" -}}
{{- $ := .context -}}
{{- $container := .values | default (($.Values.deployment).container) -}}
{{- $env := .env -}}
{{- $requiredMsg := include "hlib.default-check-required-msg" $ -}}
name: {{ include "hlib.util.tplrender" (dict "value" ($container.name | default "app") "context" $) }}
image: {{ include "hlib.util.image" (dict "imageRoot" $container.image "global" $.Values.global "chart" $.Chart) }}
{{- if or $env $container.extraEnv }}
env:
  {{- include "hlib.util.renderEnvVars" (dict "env" $env "context" $) | indent 2 }}
  {{- if $container.extraEnv }}
    {{- $extraEnv := include "hlib.util.renderEnvVars" (dict "env" $container.extraEnv "context" $) }}
    {{- include "hlib.util.tplrender" (dict "value" $extraEnv "context" $) | indent 2 }}
  {{- end }}
{{- end }}
{{- if $container.command }}
command: {{- include "hlib.util.tplrender" (dict "value" $container.command "context" $) | nindent 2 }}
{{- end }}
{{- if $container.args }}
args: {{- include "hlib.util.tplrender" (dict "value" $container.args "context" $) | nindent 2 }}
{{- end }}
{{- if $container.workingDir }}
workingDir: {{ include "hlib.util.tplrender" (dict "value" $container.workingDir "context" $) }}
{{- end }}
imagePullPolicy: {{ include "hlib.util.tplrender" (dict "value" ($container.imagePullPolicy | default "Always" ) "context" $) }}
{{- if $container.securityContext }}
securityContext: {{- include "hlib.util.tplrender" (dict "value" $container.securityContext "context" $) | nindent 2 }}
{{- end }}
resources:
  {{- if $container.resourceTier }}
  {{- if eq $container.resourceTier "S" }}
  requests:
    memory: "100Mi"
    cpu: "100m"
    ephemeral-storage: "50Mi"
  limits:
    memory: "100Mi"
    ephemeral-storage: "2Gi"
  {{- else if eq $container.resourceTier "M" }}
  requests:
    memory: "250Mi"
    cpu: "250m"
    ephemeral-storage: "50Mi"
  limits:
    memory: "250Mi"
    ephemeral-storage: "2Gi"
  {{- else if eq $container.resourceTier "L" }}
  requests:
    memory: "500Mi"
    cpu: "500m"
    ephemeral-storage: "50Mi"
  limits:
    memory: "500Mi"
    ephemeral-storage: "2Gi"
  {{- else if eq $container.resourceTier "XL" }}
  requests:
    memory: "1Gi"
    cpu: "1"
    ephemeral-storage: "50Mi"
  limits:
    memory: "1Gi"
    ephemeral-storage: "2Gi"
  {{- else if eq $container.resourceTier "2XL" }}
  requests:
    memory: "2Gi"
    cpu: "1"
    ephemeral-storage: "50Mi"
  limits:
    memory: "2Gi"
    ephemeral-storage: "2Gi"
  {{- else if eq $container.resourceTier "3XL" }}
  requests:
    memory: "4Gi"
    cpu: "2"
    ephemeral-storage: "50Mi"
  limits:
    memory: "4Gi"
    ephemeral-storage: "2Gi"
  {{- else if eq $container.resourceTier "4XL" }}
  requests:
    memory: "8Gi"
    cpu: "2"
    ephemeral-storage: "50Mi"
  limits:
    memory: "8Gi"
    ephemeral-storage: "2Gi"
  {{- else if eq $container.resourceTier "5XL" }}
  requests:
    memory: "16Gi"
    cpu: "4"
    ephemeral-storage: "50Mi"
  limits:
    memory: "16Gi"
    ephemeral-storage: "2Gi"
  {{- else }}
  {{- fail (cat ($container.resourceTier | quote) "is not supported container resourceTier." "Please use one of the following: S, M, L, XL, 2XL, 3XL, 4XL, 5XL") }}
  {{- end }}
  {{- else }}
  {{- $requests := (($container.resources).requests) }}
  {{- $limits := (($container.resources).limits) }}
  requests:
    memory: {{ include "hlib.util.tplrender" (dict "value" (required (printf $requiredMsg "container.resources.requests.memory") $requests.memory) "context" $) }}
    cpu: {{ include "hlib.util.tplrender" (dict "value" (required (printf $requiredMsg "container.resources.requests.cpu") $requests.cpu) "context" $) }}
    {{- if (index $requests "ephemeral-storage") }}
    ephemeral-storage: {{ include "hlib.util.tplrender" (dict "value" (index $requests "ephemeral-storage") "context" $) }}
    {{- end }}
  limits:
    memory: {{ include "hlib.util.tplrender" (dict "value" (required (printf $requiredMsg "container.resources.limits.memory") $limits.memory) "context" $) }}
    {{- if $limits.cpu }}
    cpu: {{ include "hlib.util.tplrender" (dict "value" $limits.cpu "context" $) }}
    {{- end }}
    {{- if (index $limits "ephemeral-storage") }}
    ephemeral-storage: {{ include "hlib.util.tplrender" (dict "value" (index $limits "ephemeral-storage") "context" $) }}
    {{- end }}
  {{- end }}
{{- if $container.port }}
ports:
- containerPort: {{ include "hlib.util.tplrender" (dict "value" $container.port "context" $) }}
  name: cont-tcp-port
  protocol: TCP
{{- if $container.extraPorts }}
{{ include "hlib.util.tplrender" (dict "value" $container.extraPorts "context" $) }}
{{- end }}
{{- end }}
volumeMounts:
- mountPath: /tmp
  name: temp-dir
{{- if $container.startupProbe }}
startupProbe: {{- include "hlib.util.tplrender" (dict "value" $container.startupProbe "context" $) | nindent 2 }}
{{- end }}
{{- if $container.readinessProbe }}
readinessProbe: {{- include "hlib.util.tplrender" (dict "value" $container.readinessProbe "context" $) | nindent 2 }}
{{- end }}
{{- if $container.livenessProbe }}
livenessProbe: {{- include "hlib.util.tplrender" (dict "value" $container.livenessProbe "context" $) | nindent 2 }}
{{- end }}
{{- if $container.lifecycle }}
lifecycle: {{- include "hlib.util.tplrender" (dict "value" $container.lifecycle "context" $) | nindent 2 }}
{{- end }}
{{- if $container.terminationMessagePath }}
terminationMessagePath: {{ include "hlib.util.tplrender" (dict "value" $container.terminationMessagePath "context" $) }}
{{- end }}
{{- if $container.terminationMessagePolicy }}
terminationMessagePolicy: {{ include "hlib.util.tplrender" (dict "value" $container.terminationMessagePolicy "context" $) }}
{{- end }}
{{- end }}

{{- define "hlib.container" -}}
{{- if .override }}
{{- $_ := set . "base" "hlib.container.tpl" }}
{{- println "" -}}
{{- include "hlib.util.merge" . | indent 8 }}
{{- else }}
{{- println "" -}}
{{- toYaml (fromYaml (include "hlib.container.tpl" .)) | indent 8 }}
{{- end -}}
{{- end -}}
