{{- if .Values.simple.dbMigration.liquibaseBeforeScripts.enabled }}
{{- include "hlib.job" (dict "context" . "values" .Values.simple.dbMigration.liquibaseBeforeScripts "override" "simple.liquibaseBeforeScripts") -}}
{{- end }}

{{- define "simple.liquibaseBeforeScripts" }}
{{- $env := fromYaml (include "simple.liquibaseBeforeScripts.container.env" .) -}}
metadata:
  name: {{ printf "%s-pre-deploy-db-migration" (include "hlib.fullname" $) | trunc 63 | trimSuffix "-" }}
  annotations:
    "helm.sh/hook": pre-install, pre-upgrade
    "helm.sh/hook-weight": "3"
    "helm.sh/hook-delete-policy": before-hook-creation
spec:
  template:
    spec:
      containers:
      - {{- include "hlib.container" (dict "context" . "env" $env "values" .Values.simple.dbMigration.liquibaseBeforeScripts.container "override" "simple.liquibaseBeforeScripts.container") }}
{{- end }}

{{- define "simple.liquibaseBeforeScripts.container" -}}
envFrom:
  - secretRef:
      name: {{ include "hlib.fullname" $ }}
{{- end -}}
