{{- if .Values.simple.preProvision.enabled }}
{{- include "hlib.secret" (dict "context" . "override" "simple.preProvisionSecret") -}}
{{- end }}

{{- define "simple.preProvisionSecret" -}}
metadata:
  name: {{ printf "%s-pre-provision" (include "hlib.fullname" $) | trunc 63 | trimSuffix "-" }}
  annotations:
    helm.sh/hook: pre-install
stringData:
  POSTGRES_USERNAME: {{ .Values.simple.preProvision.postgres.username }}
  POSTGRES_PASSWORD: {{ .Values.simple.preProvision.postgres.password }}
{{- end -}}
